$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-background-primary:#fff;
$colour-background-secondary:#f7f7f7;
$colour-background-tertiary:#EDEDED;
$colour-background-footer:#3d3d3d;